@model a2.Models.Smart

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccompanimentMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccompanimentMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberTransportsProvided)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberTransportsProvided)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferredToNursePractitioner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferredToNursePractitioner)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
